<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>日志列表</title>
    <style>
        .order_artive{
          font-size: 1.2em;
          color: royalblue;
        }
    </style>
</head>
<body>
    <?= view('comment.nav')?>
    <div>
        <form>
            关键字： 
            <input type="text" name="keywords" value="<?=@$_GET['keywords']?>">
            发表日期：
            <input type="text" name="start_date" value="<?=@$_GET['start_date']?>">~
            <input type="text" name="end_date" value="<?=@$_GET['end_date']?>">
            是否显示：
            <input type="radio" name="is_show" value="" <?php if(!isset($_GET['is_show']) ||$_GET['is_show']=='') echo 'checked'; ?>> 全部
            <input type="radio" name="is_show" value="0" <?php if(!isset($_GET['is_show'])=='0') echo 'checked'; ?>> 不显示
            <input type="radio" name="is_show" value="1" <?php if(!isset($_GET['is_show'])=='1') echo 'checked'; ?>> 显示
            <input type="submit" value="搜索">
        </form>
    </div>
    <h1>日志列表</h1>
    <table border="1" width="100%">
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>发表时间
                <a <?php if(@$_GET['order_by']=='date' && @$_GET['order_way']=='asc') echo 'class="order_active"' ?> 
                        href="?order_by=date&order_way=asc<?=getUrlParams(['order_by','order_way'])?>">↑</a>
                <a <?php if(@$_GET['order_by'] =='date' && @$_GET['order_way']=='desc') echo 'class="order_artive"'?> 
                    href="?order_by=date&order_way=desc<?=getUrlParams(['order_by','order_way'])?>">↓</a>
            </th>
            <th>修改时间</th>
            <th>是否显示</th>
            <th>浏览量
                <a <?php if(@$_GET['order_by'] =='display' && @$_GET['order_way']=='asc') echo 'class="order_artive"'?> 
                    href="?order_by=display&order_way=asc<?=getUrlParams(['order_by','order_way'])?>">↑</a>
                <a <?php if(@$_GET['order_by'] =='display' && @$_GET['order_way']=='desc') echo 'class="order_artive"'?> 
                    href="?order_by=display&order_way=desc<?=getUrlParams(['order_by','order_way'])?>">↓</a>
            </th>
            <th>操作</th>
        </tr>
        <?php foreach($blog as $b ):?>
        <tr>
            <td><?=$b['id']?></td>
            <td><?=$b['title']?></td>
            <td><?=$b['created_at']?></td>
            <td><?=$b['updated_at']?></td>
            <td><?=$b['is_show']==0?'隐藏':'显示'?></td>
            <td><?=$b['display']?></td>
            <td>
                <a href="">修改</a>
                <a href="">删除</a>
            </td>
        </tr>
        <?php endforeach;?>
    </table>
    <?=view('comment.footer')?>
</body>
</html>