<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>发表日志</title>
</head>
<body>
    <?= view('comment.nav') ?>
    <h1>发表日志</h1>
    <div>
        <form action="/blog/dosendlist" method="post">
            <div>
                标题：
                <input type="text" name="title" id="">
            </div>
            <div>
                内容:
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </div>
            <div>
                是否显示：
                <input type="radio" name="is_show" value="0"> 隐藏
                <input type="radio" name="is_show" value="1" checked> 显示
            </div>
            <div>
                <input type="submit" value="发表日志">
            </div>
        </form>
    </div>
    <?= view('comment.footer') ?>
</body>
</html>