<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册页面</title>
</head>
<body>
    <?= view('comment.nav')?>
    <h1>注册</h1>
    <div>
        <form action="/user/doregister" method="post">
            <div>
                用户名/邮箱:
                <input type="text" name="email" id="">
            </div>
            <div>
                密码：
                <input type="password" name="password" id="">
            </div>
            <div>
                <input type="submit" value="注册">
            </div>
        </form>
    </div>
</body>
</html>